
@import url('https://fonts.cdnfonts.com/css/amazon-ember');

body {
    background-color: #0f171e;
    font-family: "Amazon Ember", sans-serif;
    list-style: none;
}

/* navbar */

nav {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
}

.navbar-dark {
    display: flex;
    background: linear-gradient(to right, #1e2933, #1e2933);
    height: 75px;
}

.box {
    display: flex;
    width: 300px;
    height: 40px;
    border: 1px solid rgb(97, 95, 95);
    align-items: center;
    padding-left: 10px;
}

.box input {
    height: 38px;
    background-color: #1e2933;
    font-size: 18px;
    border: none;
    outline: none;
    color: #fff;
}

/* Carousel */

.carousel-inner {
    margin-top: -15px;
}

.carousel-indicators li:hover {
    cursor: pointer;
}

/* Main */

main {
    width: 100%;
    height: 220px;
    margin: 25px auto;
    position: relative;
}

main > div {
    display: flex;
}

main > div > a {
    margin: 0 15px;
    padding: 5px;
    font-size: 12px;
    color: #75add1;
}

main > div > img {
    position: relative;
    bottom: 1px;
    margin: 0 15px;
    font-size: 12px;
    color: #75add1;
    width: 76px;
    height: 24px;
}

h2 {
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    padding-left: 30px;
}

.h2 {
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    padding-left: 1px;
}

section {
    width: 98%;
    height: 180px;
    display: flex;
    justify-content: left;
    overflow-x: auto;
}

section::-webkit-scrollbar {
    visibility: hidden;
}

section div {
    min-width: 280px;
    height: 160px;
    position: relative;
    text-align: center;
    left: 0;
    margin: 0px 5px 0px 20px;
    transition: 0.5s;
}

section div img {
    width: 100%;
    border-radius: 3px;
}

.double-slide, .Controller {
    position: absolute;
    top: 60%;
    font-size: 90px;
    color: #fff;
    cursor: pointer;
    left: 0.5%;
    z-index: 1;
}

.Controller:nth-of-type(2) {
    left: 98%;
    text-align: right;
}

.language section {
    height: 250px;
    width: 98%;
    display: flex;
    justify-content: left;
    overflow-x: auto;
}

.language section div {
    min-width: 200px;
    height: 160px;
}

.language section div img {
    width: 100%;
    height: 100%;
    border-radius: 3px;
}

/* Footer */

footer {
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo > div {
    text-align: center;
    padding-bottom: 5px;
}

#footer-image {
    width: 110px;
    height: 35px;
    object-fit: contain;
    text-align: center;
}

#copyright {
    display: flex;
    margin: 2px 3px;
    opacity: 0.7;
}

#copyright > p {
    margin-left: 20px;
    padding-bottom: 20px;
}

#copyright > p > a {
    color: #0f79af;
    font-size: 15px;
}

.copy {
    color: #949494;
    text-align: center;
    justify-content: center;
    position: absolute;
    padding-top: 30px;
    padding-left: 10px;
}

/* responsive */

@media only screen and (max-width: 987px) {
    .navbar-collapse {
        background: #111a22;
        padding: 50px;
        padding-top: 11px;
        margin-top: -23px;
        margin-left: -17px;
    }

    .box input {
        background: #111a22 !important;
    }

    .nav-item, .dropdown {
        display: none;
    }

    .carousel-indicators li {
        display: none;
    }
}